#about-subpage p {
    width: 50%;
    min-width: 400px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.about-p-b {
    font-weight: bold;
    margin: 0px auto;
    margin-bottom: 0px !important;
}

#about-img {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
#about-img img {
    height: 300px;
    margin: 10px;
    border: 5px solid rgb(217, 217, 217);
}

#about-subpage a {
    text-decoration: none;
    color: rgb(217, 217, 217);
    border-bottom: 1px solid rgba(40, 75, 99, 1);
}

#about-paragraphs {
    width: 100%;
    min-height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}

.about-item {
    width: 23%;
    min-width: 400px;
    margin: 5px;
}
